* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.header {
  padding: 32px;
  font-size: 3rem;
  font-weight: 700;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 128px);
  grid-template-rows: repeat(3, 128px);
  gap: 8px;
  background-color: steelblue;
  width: 416px;
  padding: 8px;
}

.square {
  background-color: aliceblue;
}

.modal,
.vs-modal,
.pvp-modal,
.pve-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  opacity: 0.4;
}

.vs-modal {
  display: block;
}

.modal-content,
.vs-modal-content,
.pvp-modal-content,
.pve-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.pvp-error {
  display: none;
}