@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
  background-color: #eeeeee;
  height: 100vh;
}

.header {
  padding: 32px;
  font-size: 5rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 128px);
  grid-template-rows: repeat(3, 128px);
  gap: 8px;
  background-color: #3a98b9;
  width: 416px;
  padding: 8px;
}

.square {
  background-color: #fff1dc;
  font-size: 5rem;
  font-weight: 700;
}

button {
  padding: 8px 16px;
  background-color: #e8d5c4;
}

input[type="text"] {
  padding: 8px 16px;
}

.modal,
.vs-modal,
.pvp-modal,
.pve-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.vs-modal {
  display: block;
}

.modal-content,
.vs-modal-content,
.pvp-modal-content,
.pve-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 32px;
  border: 1px solid #888;
  width: 30%;
}

.vs-modal-content {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  align-content: center;
  gap: 64px;
}

.pvp-modal-content > form {
  display: grid;
  gap: 32px;
}

.pvp-modal-content > form > div:not(.pvp-error) {
  display: flex;
  align-items: center;
  gap: 32px;
}

.pvp-modal-content > form > button,
.pve-modal-content > form > button,
.modal-content > button {
  width: max-content;
  justify-self: center;
}

.pve-modal-content > form {
  display: grid;
  grid-template-areas:
    "label input"
    "legend radio"
    "button button"
    "error error";
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.pve-modal-content > form > label {
  grid-area: label;
}

.pve-modal-content > form > input[type="text"] {
  grid-area: input;
}

.pve-modal-content > form > legend {
  grid-area: legend;
}

.pve-modal-content > form > .radio-container {
  grid-area: radio;
  display: flex;
  gap: 8px;
}

.pve-modal-content > form > .pve-start-button {
  grid-area: button;
}

.pve-modal-content > form > .pve-error {
  grid-area: error;
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr;
  gap: 16px;
}

.modal-content > .message {
  grid-column: 1/3;
  justify-self: center;
  font-size: 3rem;
  font-weight: 700;
}

.modal-content > .new-game,
.modal-content > .restart {
  grid-row: 2/3;
}

.pvp-error,
.pve-error {
  display: none;
  color: #b91c1c;
  justify-self: center;
  font-weight: 700;
}
